@import "reset";
@import "base";
@import "prefixer";


.num-keyboard{
  .hidden;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background: #f1f1f1;
  .border-box;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;

  .nk-box{
    overflow:hidden;
  }


  .nk-key{
    width:33.33%;
    .pull-left;
    height:50px;
    line-height:50px;
    text-align:center;
    .border-box;
    user-select: none;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    &:active{
      background:rgba(0,0,0, .3);
    }
  }
}
.input{
  border: 1px solid #ccc;
  border-radius:3px;
  height:40px;
  margin: 20px;
  >div{
    width: percentage(1/6);
    .pull-left;
    border-right: 1px solid #ccc;
    height:40px;
    .border-box;
    &:nth-last-child(1){
      border-right: 0;
    }

    &.active{
      background:#333;
    }
  }
}
